body {
	background-color: #E4F5FE;
	font-family: 'Muli', sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	margin: 0 !important;
	padding: 0 !important;
}

.indexHeader {
	width: 98vw;
    overflow: auto;
    color: white;
    font-size: 30px;
}

#indexHeaderLeft {
	float: left;
	width: 30vw;
	overflow: auto;
	margin: 2vw 0 0 2vw;
}

#indexHeaderRight {
    float: right;
    width: 30vw;
    overflow: auto;
    margin: 2vw 2vw 0 0;
    text-align: right;
}

#indexHeaderRight:hover {
    cursor: pointer
}

.indexSelection {
	width: 97vw;
	height: 80vh;
	margin: 5vh 1vw 5vh 1vw;
	padding-top: 10vh;
}

.gmailRegisteration:hover {
/*	background-color: #F3320B;*/
	cursor: pointer;
}

.emailRegisteration:hover {
/*	background-color: #F8DB03;*/
	cursor: pointer;
}

.emailRegisterationFields {
	width: 96vw;
    height: 50vh;
    margin-top: 5vh;
    margin-left: 0vw;
/*    display: none;*/
}

.emailRegComponent {
	width: 400px;
    height: 30px;
    border-bottom: solid 1px #979797 !important;
    border: 0;
    background-color: #e4f5fe;
    color: white;
    text-align: center;
    font-size: 2vmin;
    margin-left: calc( 48vw - 200px);
    margin-top: 10px;
}

input {
    -webkit-appearance: none; 
    box-shadow: none !important; 
}

textarea:focus, input:focus {
    outline: none !important;
}

button:focus {
	outline: 0 !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	background-color: #E4F5FE;
	font-family: 'Muli', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-size: 2vmin;
	opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
	background-color: #E4F5FE;
	font-family: 'Muli', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-size: 2vmin;
	opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
	background-color: #E4F5FE;
	font-family: 'Muli', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-size: 2vmin;
	opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
	background-color: #E4F5FE;
	font-family: 'Muli', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-size: 2vmin;
	opacity: 0.5;
}

.emailRegFirstFloor {
	margin-top: 3vh;
	text-align: center;
    line-height: 2;
	color: #16436A;
}

.errorMessageSection {
    width: 30vw;
    height: 5vh;
    margin-left: 33vw;
    margin-right: 30vw;
    margin-top: 5vh;
    text-align: center;
	color: rgb(224, 36, 94);
}

.emailRegSecondFloor {
	margin-top: 2.5vh;
    /* height: 20px; */
    /* border-bottom: solid #231F20 1px; */
    width: 400px;
    height: 20px;
    border-bottom: solid 1px #231F20; */
    background-color: #231F20;
    color: #16436A;
    text-align: center;
    font-size: 2vmin;
    margin-left: calc( 48vw - 200px);
}

.emailRegSecondFloor:hover {
	cursor: pointer;
}

.emailRegFirstFloor:hover {
	cursor: default;
	height: 38px;
}

@media only screen and (max-device-width: 480px) and (max-aspect-ratio: 13/9) {
	.emailRegComponent {
		margin-left: 10vw !important;
		width: 80vw !important;
		height: 10vw !important;
		font-size: 5vw !important;
		color: #16436A !important;
	}

	.emailRegSecondFloor {
		margin-left: 0 !important;
	}

	.emailRegFirstFloor {
		font-size: 4.5vw !important;
		width: 60vw !important;
		margin-left: 20vw !important;
	}

	.errorMessageSection {
		width: 80vw !important;
		color: rgb(224, 36, 94) !important;
		font-size: 5vw !important;
		margin-left: 10vw !important;
	}

	.emailRegSecondFloor {
		width: 80vw !important;
		margin-left: 10vw !important;
		font-size: 5vw !important;
		height: 8vw;
	}

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	font-size: 3vh;
	padding-left: 1vw;
	font-family: 'Raleway', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	opacity: 0.6;
	text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 3vh;
	padding-left: 1vw;
	font-family: 'Raleway', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	opacity: 0.6;
	text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 3vh;
	padding-left: 1vw;
	font-family: 'Raleway', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	opacity: 0.6;
	text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 3vh;
	font-family: 'Raleway', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	opacity: 0.6;
	text-align: center;
}
::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 3vh;
	font-family: 'Raleway', sans-serif;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
	opacity: 0.6;
	text-align: center;
}
