body {
	margin: 0;
	padding: 0;
}

.indexPageBackground {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 110vh;
    margin-top: -10vh;
    background-color: #E4F5FE;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/cureconnectdevenv.appspot.com/o…ckgroundAnimation.png?alt=media&token=5e83c2a8-012c-4809-b665-a8402a1345b8');
}

.registerationContainer {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.registerationAccountTypeSelection {
	width: 100vw;
    text-align: center;
    font-size: 4vh;
}

.userTypeSelectionContainer {
	width: 97vw;
    overflow: auto;
    margin-top: 3vh;
    margin-left: 1vw;
}

.userTypeSelectionOption {
	float: left;
    width: 30vw;
    min-width: 135px;
    overflow: auto;
    padding: 1vw;
    text-align: center;
    border: solid 1px;
    cursor: pointer;
}

.optionHospitalRecruiter {

}

.optionHealthcareProfessonal {
	background-color: #A4DEE0;
}

.optionIndepndentRecruiter {

}

.registerationModeSelection {
	text-align: center;
    margin-top: 10vh;
}

.registerationSelectionOptionCover {
	margin-top: 5vh;
    width: 77vw;
    overflow: auto;
    margin-left: 11.5vw;
}

.registerationOption {
	float: left;
    width: 99%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: solid 1px;
}

.userTypeSelectionCoverHiddenOptions {
	display: none;
}

.signUpDisclosure {
    font-size: 1rem;
    opacity: 2.5;
    text-align: center;
    margin-top: 3vh;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

@media only screen and (max-device-width: 480px) and (max-aspect-ratio: 13/9) {
    .userTypeSelectionContainer {
        width: 70vw !important;
        margin-left: 15vw;

    }

    .userTypeSelectionOption {
        width: 96%;
        margin-bottom: 2%;
        height: 10vw;
        font-size: 6vw;
    }

    .registerationModeSelection {
        font-size: 8vw !important;
    }

    .registerationSelectionOptionCover {
        font-size: 7vw;
    }

    .registerationOption {
        height: 9vw !important;
        width: 99% !important;
        padding-top: 2vw !important;
        padding-bottom: 2vw !important;
        margin-top: 1vw !important;
    }

    .registerationSelectionOptionCover {
        margin-top: 2vw !important;
    }

    .registerationAccountTypeSelection {
        font-size: 8vw !important;
    }

    .signUpDisclosure {
        font-size: 4vw !important;
        width: 90vw !important;
        margin-left: 5vw !important;;
    }
}





