.headerSection  {
    width: auto;
    min-height: 11vh;
    overflow: auto;
    margin-top: 1.5vw !important;
    margin-bottom: 4vh;
    padding-left: 2vw;
    padding-right: 0vh;
    border-bottom: 0.1vh solid #8F9DAC;
}

.headerLoginSection {
	color: red;
	width: auto;
	float: right;
}

.headerButtons {
    float: right;
    min-width: 85px;
    text-align: center;
    margin: 0.5vw;
    font-size: 3vh;
}

.headerForEmployersButton {
    font-size: 3vh;
    border: solid 0.2vh;
    text-align: center;
    padding: 0.3vw;
    min-width: 200px;
    margin-left: 0.7vw;
    border-radius: 1vh;
}

.headerButtonContainer {
    width: auto;
    overflow: auto;
    margin-right: 3vw;
}

.cureConnectHeaderLogo {
    float: left;
    margin-top: 5px;
    min-width: 180px;
    font-size: 3.5vh;
}

.signUpScript {
    text-align: center;
    width: 90vw;
    margin-left: 5vw;
    overflow: auto;
    line-height: 1.5;
    padding-top: 2vh;
    font-size: 4vh;
}

.signUpSubScript {
	font-size: 2.5vh;
}

.signUpSpan {
	color: #EF433F;
}

.signUpButton {
	font-size: 1.5rem;
	color: red;
	border: solid 1px red;
	width: 10vw;
	margin-left: 45vw;
	margin-right: 45vw;
    text-align: center;
}

.userLoginCredentials {
    width: 25vw;
    overflow: auto;
    text-align: center;
    float: left;
    font-size: 3.5vh;
    margin-top: 1vh;
}

.userProfileButton {
    width: 11.5vw;
    margin-right: 1vw;
    float: left;
    text-align: right;
    font-size: 2.5vh;
}

.userLogOutButton {
    width: 11.5vw;
    margin-left: 1vw;
    float: left;
    text-align: left;
    font-size: 2.5vh;
}

.blogButton {
    float: left;
    font-size: 3vh;
    margin-top: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.dashboardButton {
    float: left;
    font-size: 3vh;
    margin-top: 2vh;
    margin-left: 1vh;
}