.headerSection  {
    width: auto;
    min-height: 5vh;
    overflow: auto;
    margin-bottom: 4vh;
    padding-left: 2vw;
    padding-right: 0vh;
    border-bottom: 0.1vh solid white;
    background-color: white;
}

.headerLoginSection {   
    color: rgb(224, 36, 94);
    margin-right: 3vw;
    float: right;
    height: 5vh;
    font-size: 2.5vh;
}

.headerLeft {
    width: 45vw;
    height: 5vh;
    float: left;
    margin-top: -1vh;
}

.headerRight {
    width: 45vw;
    height: 5vh;
    float: right;
    margin-bottom: -0.5vh;
}

.headerButtons {
    float: right;
    min-width: 55px;
    text-align: center;
    margin-top: 1vh;
    margin-right: 1vw;
}

.headerForEmployersButton {
    margin-top: 1vh;
    text-align: right;
    min-width: 200px;
    float: right;
    margin-right: 1vw;
}

.headerButtonContainer {
    width: auto;
    overflow: auto;
    margin-right: 1vw;
}

.cureConnectHeaderLogo {
    float: left;
    margin-top: 1.5vh;
    margin-right: 1vw;
    font-size: 2.5vh;
}

.signUpScript {
    text-align: center;
    width: 600px;
    margin-left: calc(50vw - 300px);
    margin-top: 13vh;
    overflow: auto;
    line-height: 1.5;
    padding-top: 5.5vh;
    font-size: 2.5vh;
}

.signUpSubScript {
	font-size: 2.5vh;
}

.signUpSpan {
	color: #EF433F;
}

.signUpButton {
	font-size: 1.5rem;
	color: red;
	border: solid 1px red;
	width: 10vw;
	margin-left: 45vw;
	margin-right: 45vw;
    text-align: center;
}

.userLoginCredentials {
    min-width: 400px;
    width: auto;
    overflow: auto;
    text-align: center;
    float: right;
    font-size: 2.5vh;
    margin-top: 1vh;
}

.userProfileButton {
    width: auto;
    margin-left: 1vw;
    float: right;
    text-align: center;
    font-size: 2.5vh;
}

.userLogOutButton {
    width: auto;
    margin-left: 1vw;
    float: right;
    text-align: center;
    font-size: 2.5vh;
}

.blogButton {
    float: left;
    font-size: 2.5vh;
    margin-top: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.welcomeAndName {
    width: 55%;
    text-align: right;
    float: left;
    font-size: 2.5vh;
    display: none;
}

.dashboardButton {
    float: left;
    display: none;
    font-size: 2.5vh;
    margin-top: 2vh;
    margin-left: 1vh;
}