.container {
	width: 100vw;
	overflow: auto;
	color: #13A8BB;
}

.upperFloor {
	width: 98%;
	overflow: auto;
}

.upperFloorLeft {
	width: 50%;
    height: 25vh;
    float: left;
}

.upperFloorLeftImage {
	width: 50%;
	height: 25vh;
	float: left;
}

.upperFloorLeftCaption {
	width: auto;
    height: 15vh;
    float: right;
    padding-top: 7%;
    padding-left: 3%;
    margin-right: 20%;
}

.upperFloorRight {
	width: 50%;
	height: 25vh;
	float: left;
}

.upperFloorRightImage {
	width: auto;
    margin-right: 4%;
    margin-left: 20%;
    padding-top: 7%;
    height: 15vh;
    float: left;
}

.upperFloorRightCaption {
	width: 48%;
    height: 25vh;
    float: left;
    margin-left: 2%;
}

.middleFloor {
	width: 100%;
	height: 25vh;
}

.middleFloorLeft {
	width: 33%;
	height: 25vh;
	float: left;
}

.middleFloorMiddle {
    width: 33%;
    height: 10vh;
    margin-top: 15vh;
    float: left;
    text-align: center;
    font-weight: 600;
}

.middleFloorRight {
	width: 33%;
	height: 25vh;
	float: left;
}

.lowerFloor {
	width: 100%;
	height: 25vh;
	margin-top: 2%;
}

.lowerFloorLeft {
	width: 50%;
	height: 25vh;
	float: left;
}

.lowerFloorRight {
	width: 47%;
    margin-left: 2%;
    height: 25vh;
    float: left;
}

.standingImage {
	width: 19%;
	margin-left: 80%;
}

.clinicImage {
	width: 70%;
}

.arrow1 {
	width: 30%;
    margin-left: 70%;
    margin-top: 10%;
}

.arrow2 {
	width: 30%;
    margin-top: 10%;
}

.arrow3 {
	width: auto;
    margin-left: 49%;
}

.arrow4 {
	width: 25%;
    margin-left: 65%;
}

/*.mobileMezzanine {
	display: none;
}*/


