body {
	margin: 0 !important;
	padding: 0 !important;
}

.headerSection {
	min-height: 77px !important;
}

.jobSearchFields {
    width: 100%;
    overflow: auto;
    padding-bottom: 5vh;
    background-color: #16436A;
}

.searchPositionType {
	float: left;
	width: 35vw;
	height: 53px;
	font-size: 1.2rem;
	margin-right: 0.1vw;
}

.searchZipCode {
	float: left;
	width: 35vw;
	height: 53px;
	font-size: 1.2rem;
	margin-right: 0.1vw;
}

.searchButton {
	color: white;
    float: left;
    border: solid 1px white;
    padding: 13.5px;
    height: 30px;
}

.searchFields {
	width: 82vw;
    margin-left: 10vw;
    overflow: auto;
    padding-top: 5vh;
}

.searchFieldScript {
	color: red;
    font-weight: 600;
    text-align: center;
    padding-bottom: 2vh;
    font-size: 2.5rem;
}

.jobPostingCover {
	width: 80vw;
    margin-left: 10vw;
    margin-top: 2vh;
    border: solid 1px;
}

.upperFloor {
	width: auto;
	overflow: auto;
}

.addToFavorites {
	float: right;
    border-radius: 50%;
    border: solid 1px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    color: red;
}

.jobTitle {
	float: left;
    border-bottom: solid 1px;
    padding-left: 2vw;
    font-size: 2rem;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.employerName {
    padding-left: 2vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.location {
    padding-left: 2vw;
    margin-bottom: 2vh;	
}

.headerSectionLeft {
    width: 80%;
}

.searchClassifier {
    float: left;
    margin-right: 10px;
    font-size: 1.2rem;
}

.headerSectionLeft {
    width: 30%;
    min-width: 360px;
    overflow: auto;
    float: left;
}




