.messengerBody {
	width: 90vw;
    margin-left: 5vw;
    height: 80vh;
    background-color: red;
}

.sectionHeader {
	width: 10vw;
	float: left;
	background-color: blue;
	margin-left: 1vw;
	padding: 2vh;
	text-align: center;
	background-color: #00A1B6;
	color: white;
	font-style: italic;
}

.upperFloor {
	width: 100%;
	overflow: auto;
}

.lowerFloor {
	width: 100%;
	overflow: auto;
}

.contactList {
	float: left;
	width: 20vw;
	margin-left: 1vw;
	height: 70vh;
	background-color: white;
}

.conversationSection {
	float: left;
	width: 68vw;
	height: 70vh;
	background-color: yellow;
}

.conversationEntry {
	width: 80%;
    float: left;
}

.conversationTextField {
    width: 100%;
    min-height: 8vh;
    max-height: 30vh;
}

.dialogueSection {
	width: 100%;
    height: 61vh;
}

.sendMessageButton {
	width: 18%;
    padding: 2.3vh 0;
    float: right;
    text-align: center;
}