body {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #16436A;
}

.logoC {
	font-size: 30px;
}

.keyScript {
	font-size: 4rem;
	color: #EF4440;
}

.subscript {
	font-size: 2rem;
    margin-top: 1vw;
    font-weight: 600;
}

.searchScript {
	text-align: center;
    width: auto;
    overflow: auto;
}

.searchSection  {
	margin-top: 4vw;
	text-align: center;
}