.prevButton {
    position: absolute;
    left: 10px;
    top: 45vh;
    width: 40px;
    text-align: center;
}

.nextButton {
    position: absolute;
    right: 10px;
    top: 45vh;
    width: 40px;
    text-align: center;
}

#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.cureConnectColumns {
    width: 60vw;
    margin-left: 4vw;
    height: 60vh;
    background-color: red;
    float: left;
}

.csvColumns {
    width: 30vw;
    height: 60vh;
    background-color: blue;
    float: left;
}

.dragDropBox {
    width: 170px;
    height: 40px;
    border: 1px solid;
}

.cureConnectColumn {
    width: 180px;
    overflow: auto;
    margin-right: 5px;
    float: left;
}