body {
	margin: 0 !important;
	padding: 0 !important;
}

.headerSection {
	min-height: 77px !important;
}

.jobSearchFields {
    width: 100%;
    overflow: auto;
    padding-bottom: 12vh;
    background-color: #16436A;
}

.searchPositionType {
	float: left;
	width: 40vw;
	height: 9vh;
	font-size: 1.2rem;
	margin-right: 0.1vw;
}

.searchZipcodeInputBox {
    width: 100%;
    height: 8vh;
    border-radius: 1vh;
    border: none;
    margin-left: 0.5vh;
    text-align: center;
    font-size: 4vh;

}

.searchZipCode {
    float: left;
    width: 20vw;
    height: 9vh;
    font-size: 1.2rem;
    margin-right: 0.1vw;
}

.searchButton {
    color: white;
    float: left;
    border: solid 1px white;
    width: 17vw;
    margin-left: 1vh;
    border-radius: 1vh;
    height: 6vh;
    font-size: 4vh;
    text-align: center;
    padding-top: 2vh;
}

.select2-container .select2-selection--multiple {
    height: 8.5vh !important;
}

.searchFields {
	width: 82vw;
    margin-left: 10vw;
    overflow: auto;
    padding-top: 5vh;
}

.searchFieldScript {
	color: red;
    font-weight: 600;
    text-align: center;
    padding-bottom: 2vh;
    font-size: 2.5rem;
}

.jobPostingCover {
	width: 80vw;
    margin-left: 10vw;
    margin-top: 2vh;
    border: solid 1px;
}

.upperFloor {
	width: auto;
	overflow: auto;
}

.addToFavorites {
	float: right;
    border-radius: 50%;
    border: solid 1px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    color: red;
}

.jobTitle {
	float: left;
    border-bottom: solid 1px;
    padding-left: 2vw;
    font-size: 2rem;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.cureConnectHeaderLogo {
    width: 100% !important;
}
.employerName {
    padding-left: 2vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.location {
    padding-left: 2vw;
    margin-bottom: 2vh;	
}

.headerSectionLeft {
    width: 60%;
    min-width: 360px;
    overflow: auto;
    float: left;
}

.searchClassifier {
    float: left;
    margin-right: 10px;
    font-size: 1.2rem;
}

.lowerFloor {
    width: auto;
    overflow: auto;
}

.lowerFloorLeft {
    width: 48%;
    float: left;
}

.lowerFloorRight {
    width: 50%;
    float: left;
    text-align: right;
}

.searchHeaderAdded {
    width: 100%;
    overflow: auto;
}

.advSearchFieldButton {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-top: 1vw;
    text-decoration: underline;
}

.select2-selection {
    width: 40vw !important;
}

.select2-selection--multiple {
    border: solid 0.2vh #2aa6b9 !important;
    border-radius: 1vh !important;
    height: 8.2vh !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    font-size: 4vh !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 1vh !important;
}

.select2-results {
    font-size: 3.5vh !important;
}

.select2-results__option select2-results {
    font-size: 3.5vh !important;
}

.select2-results__options {
    max-height: 30vh !important;
}

.select2-dropdown {
    width: 40vw !important;
}

.select2-selection__choice {
    font-size: 5vh !important;
}

.mobileMenuButton {
    display: none;
}

.logoC {
    font-size: 5vh !important;
}

.searchCriteriaQuery {
    margin-top: 10vh;
    text-align: center;
    font-size: 4vh;
}
