body {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
}

.logoC {
	font-size: 30px;
}

.keyScript {
	font-size: 3rem;
	color: #EF4440;
}

.subscript {
    font-size: 1.5rem;
    margin-top: 1vw;
    font-weight: 600;
}

.searchScript {
	text-align: center;
    width: auto;
    overflow: auto;
}