.resumeUploadCover {
    width: auto;
    overflow: auto;
}

.leftColumn {
    float: left;
    width: 15vw;
    height: 60vh;
    margin-left: 8vw;
    margin-right: 0.5vw;
    /* border: solid 1px; */
    background-color: #1B3756;
}

.middleColumn {
	float: left;
	width: 32vw;
	height: 60vh;
	margin-right: 0.5vw;
	border: solid 1px;
}

.rightColumn {
	float: left;
	width: 32vw;
	height: 60vh;
	margin-right: 8vw;
	border: solid 1px;
}

.entryField {
    font-size: 4vh;
    margin-top: 1.5vh;
    padding-left: 2vh;
    width: 28.5vw;
}

.resumeiFrameContainer {

}

.resumeiFrame {
    width: 100%;
    height: 53vh;
}

iframe {
    position: relative !important;
}

.inputFile {
    display: none;
}

.resumeContainer {
    width: 100%;
    height: 57vh;
    overflow: hidden;
}

.uploadResumeButtonContainer {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 13vw;
    height: 4vh;
    font-size: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border: solid 1px;
    margin-top: 25vh;
    color: #009EB3;
}

.uploadResumeButton {

}

.csviFrameSizeAdjustment {
    overflow: hidden;
}

.nameTitle {
    font-size: 4vh;
    font-style: italic;
}

.select2-container {
    width: 30vw !important;
    height: 5vh !important;
    font-size: 4vh;
}

.select2-selection--multiple {
    height: 5vh !important;
}

.select2-search__field {
    height: 4vh !important;
    font-size: 4vh !important;
    padding-left: 1.5vh !important;
    margin-top: -1vh !important;
}

.select2-container--open {
    margin-left: 0vh !important;
}

.medicalProfessionCover {
    width: 20vw;
    margin-left: 3vh;
    font-size: 4vh;
    margin-top: 2vh;
    height: 12vh;
}

.select2-results__options {
    max-height: 20vh !important;
    overflow-y: auto;
}

.noMargin {
    margin-left: 0 !important;
}

.searchPositionType {
    margin-top: 1.2vh;
}

.select2-selection__choice {
    height: 4.2vh !important;
    margin-top: 0.3vh !important;
}

.select2-selection--multiple {
    border: #827775 0.1vh solid !important;
    border-radius: 0px !important;
}

.select2-selection__rendered {
    height: 5vh !important;
}

.select2-search--inline {
    height: 5vh !important;
}

/*PROGRESS BAR*/

.progressBar {
    width: 25vw;
    overflow: auto;
    position: absolute;
    bottom: 1vh;
    left: 38.5vw;
}

.backgroundBar {
    width: 98%;
    height: 0.3vh;
    margin-top: 4vh;
    background-color: #009EB3;
    z-index: -1;
    position: absolute;
}

.circles {
    z-index: 1
}

.circle {
    float: left;
    width: 7.6vh;
    height: 7.6vh;
    border-radius: 100%;
    margin-right: 3.4vw;
    border: solid 0.2vh #009EB3;
    color: #009EB3;
    background-color: white;
    text-align: center;
    font-size: 4vh;
    font-weight: 100;
}

.progressBarOne {
    background-color: #009EB3 !important;
    color: white !important;
}

.rightMostCircle {
    margin-right: 0 !important;
}

.circleText {
    margin-top: 1.2vh;
}

.nextButton {
    position: absolute;
    right: 4vw;
    font-size: 4vh;
    width: 8vw;
    height: 4vh;
    text-align: center;
    bottom: 6vh;
    border: solid 1px #3CAABC;
    color: #3CAABC;
    cursor: pointer;
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

@media only screen and (max-width: 961px) {
    .leftColumn {
        float: left;
        width: 85vw;
        height: 60vh;
        margin-left: 5vw;
        margin-right: 5vw;
        background-color: #1B3756;
    }

    .middleColumn {
        width: 85vw;
        height: 60vh;
        margin-left: 5vw;
    }

    .rightColumn {
        width: 85vw;
        height: 60vh;
        margin-left: 5vw;
    }

    .entryField {
        width: 78vw !important;
        padding-left: 2vh;
        margin-top: 2vw !important;
        border: solid 0.1vw;
    }

    .uploadResumeButtonContainer {
        width: 50vw;
        margin-left: 20vw;
        margin-top: 25vh;
    }

    .select2 {
        width: 79vw !important;
    }

    .select2-selection select2-selection--multiple {
        width: 79vw !important;
    }

    .medicalProfessionCover {
        width: 80vw !important;
    }

    .progressBar {
        position: relative;
        width: 70vw;
        margin-top: 5vh;
        left: 15vw;
    }

    .circle {
        margin-right: 24%;
    }

    .backgroundBar {
        width: 95% !important;
    }

    .nextButton {
        width: 20vw !important;
        z-index: 5 !important;
        background-color: white !important;
        position: relative !important;
        margin-left: 74vw;
        margin-top: 8vw;
    }

    .headerLoginSection {
        display: none;
    }

    .progressBar {
        display: none;
    }
}

@media only screen and (max-device-width: 480px) and (max-aspect-ratio: 13/9) {

    .middleColumn {
        width: 85vw !important;
        height: 110vw !important;
    }

    .entryField {
        width: 70vw !important;
    }

    .rightColumn {
        width: 85vw !important;
        height: 110vw !important;
    }

    .select2 {
        width: 74vw !important;
    }

    .progressBar {
        display: none;
    }

    .nextButton {
        margin-top: 15vw !important;
    }

    .select2-selection__choice {
        font-size: 3.5vw !important;
    }

    .medicalProfessionCover {
        height: auto !important;
        overflow: auto !important;
        min-height: 22vw !important;
    }

    .select2-selection--multiple {
        height: auto !important;
        overflow: auto !important;
    }

    .select2-selection__rendered {
        height: auto !important;
        oveflow: auto !important;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        font-size: 6vw !important;
        padding-left: 1vw;
        font-family: 'Raleway', sans-serif;
        color: #16436A !important;
        -webkit-font-smoothing: antialiased;
        opacity: 0.6;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 3vh;
        padding-left: 1vw;
        font-family: 'Raleway', sans-serif;
        color: #16436A !important;
        -webkit-font-smoothing: antialiased;
        opacity: 0.6;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 3vh;
        padding-left: 1vw;
        font-family: 'Raleway', sans-serif;
        color: #16436A !important;
        -webkit-font-smoothing: antialiased;
        opacity: 0.6;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 3vh;
        font-family: 'Raleway', sans-serif;
        color: #16436A !important;
        -webkit-font-smoothing: antialiased;
        opacity: 0.6;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 3vh;
        font-family: 'Raleway', sans-serif;
        color: #16436A !important;
        -webkit-font-smoothing: antialiased;
        opacity: 0.6;
    }
}