@media only screen and (max-width: 961px) {

	.blogButton {
		display: none;
	}

	.signUpScript {
		display: none;
	}

	.headerLeft {
		width: 41vw !important;
	}

	.headerRight {
		width: 55vw !important;
	}

	.keyScript {
		margin-top: 5vh !important;
	}

	.headerSection {
		padding-left: 2vw !important;
	}

	.searchSection {
		margin-top: 5vh;
		padding-bottom: 5vh;
	}

	.subScript {
		margin-top: 5vh !important;
		padding-bottom: 10vh !important;
	}

	.searchInputs {
		width: auto;
	    overflow: auto;
	    color: red;
	    margin-top: 3vw;
	}

	.searchScript {
		text-align: center;
	    width: auto;
	    overflow: auto;
	}

	.searchFields {
		width: 88vw;
		margin-left: 6vw;
	}

	.searchButtonText {
		margin-top: 0vh;
		font-size: 2rem;
	}

	.searchPositionType {
		float: left;
		width: 99% !important;
	}

	.searchZipCode {
		float: left;
		width: 98.5% !important;
		margin: 3.7vh 0 0 0 !important;
	}

	.searchButton {
		float: left;
		width: 98% !important;
		margin: 1vh 0 0 0;
		background-color: #2AA6B9;
		color: white;
	}

	.nonUserView {
		margin-top: 7vh !important;
	}

	.searchScript {
		display: inline-block !important;
	}

	.mobileSearchScript {
		display: none !important;
		
	}

	.signUpSubScript {
		display: none;
	}

	.indexPageBackground {
		height: 110vh !important;

	}

	.select2-container--default {
		margin-top: 1vw !important;
	}



}