.detailComponent {
    float: left;
    width: 40vw;
    min-width: 200px;
    text-align: center;
    margin-top: 2vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.companyDetails {
    width: 80vw;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 20vh;
    padding-left: 10vw;
}

.bottomDisclosures {
    width: 100%;
    overflow: auto;
    background-color: rgba(206, 178, 187, 0.6);
    color: #16436A;
    padding-bottom: 10vh;
}

.bottomDisclosureLogo {
	font-size: 1rem;
    text-align: center;
    padding-top: 3vh;
}

.bottomLogoC {
	font-size: 1.2rem;
}

.bottomDisclosureComponent {
	width: auto;
	overflow: auto;
}
.bottomDisclosureCol {
    float: left;
    width: 20vw;
    min-width: 200px;
    margin-left: 4vw;
    margin-top: 5vh;
    font-size: 1rem;
}

.companyAddress {
	text-align: center;
    font-size: 1rem;
    margin-top: 1vh;
}

.bottomDisclosureColSubtitle {
	margin-top: 2vh;
	font-weight: 600;
}

.bottomDisclosureColOptions {
	margin-top: 2vh;
}

@media only screen and (max-width: 961px) {

    .bottomDisclosureCol {
        margin-left: 12vw !important;
    }
}