body {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #16436A;
	-webkit-font-smoothing: antialiased;
}

div {
	cursor: default;
}

div::-moz-selection { background:transparent; }
div::selection { background:transparent; }

.button:hover {
	cursor: pointer;
}

.searchButton {
	cursor: pointer;
}

#professionalFields {
	width: 200px;
}

#professionalFields {
	width: 200px;
	float: left;
}

#zipCodeEntry {
	width: 200px;
	float: left;
}

.select2-search__field {
	font-size: 20px !important;
	min-height: 2.3rem !important;
}

.logoC {
	font-size: 4.5vh;
}

input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: solid 1px;
	border: solid #827775 0.1vh;
}